* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(43, 53, 197);
}

.title-container {
    width: 1280px;
    margin: auto;
}

.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 80px;
    color: rgb(43, 53, 197);
    margin: 20px 0 20px 0;
}

.image-container {
    width: 700px;
    margin: auto;
}

.introduction-container {
    width: 400px;
    padding: 30px 0 70px 0;
    margin: auto;
}

.introduction-text {
    font-family: 'Poppins', 'IBM Plex Sans KR';
    font-size: 20px;
    color: rgb(43, 53, 197);
    line-height: 2.5;
}

span {
    font-weight: bold;
    margin-right: 10px;
}

.tmi-container {
    width: 950px;
    padding-bottom: 70px;
    margin: auto;
}

.tmi {
    font-family: 'Poppins', 'IBM Plex Sans KR';
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    padding: 5px 20px;
    border: 3px blue;
    margin: 4px;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(43, 53, 197);
    color: white;
}
.tmi:hover {
    background-color: rgb(255, 94, 0);
    border: 6px solid rgb(255, 94, 0); 
}

footer {
    text-align: center;
    margin: 60px 0 20px 0;
    color: rgb(43, 53, 197);
}