* {
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(43, 53, 197);
}

.title-container {
    width: 100vw;
    margin: auto;
    padding-bottom: 20px;
}

.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 80px;
    color: rgb(43, 53, 197);
    margin: 20px 0 20px 0;
}

@media (max-width:1023px){
    .title {font-size: 70px;}
}

@media (max-width:767px){
    .title {font-size: 60px;}
}

.image-container {
    width: 70vw;
    margin: auto;
}

.job-img {
    margin: 15px;
}

footer {
    text-align: center;
    margin: 100px 0 20px 0;
    color: rgb(43, 53, 197);
}